/* .portfolio-model {
    display: flex;
    justify-content: center;
    letter-spacing: 2px;
    font-weight: 300;
  }
  .portfolio-wrapper {
    color: white;
    padding: 120px;
  }
  .portfolio-card {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 13px;
    box-shadow: 20px 40px 33px rgba(0, 0, 0, 0.3);
    padding: 33px;
    background-color: #A5CFE2;
  } */