*,
*:before,
*:after {
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

:root {
  --white: #ffffff;
  --tan-1: #fbf9f6;
  --tan-2: #e7e2dd;
  --tan-3: #e2d9d1;
  --tan-4: #d3c1ae;
  --orange: #f67f00;
  --text-light: #968c84;
  --text-dark: #615954;
  --background-main: #a5cfe1;
}

html,
#main,
#root,
body {
  height: 100% !important;
  width: 100% !important;
  margin: 0 auto !important;
  padding: 0;
  transition: 0.4s ease-in-out;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--tan-4);
  height: 100% !important;
  display: flex;
  background: #f15946;
  background: var(--background-main);
  overflow: hidden;
}

.auth {
  height: 100vh;
}

::-webkit-scrollbar {
  height: 5px;
  width: 6.3px;
  background: rgb(165, 207, 225, 0.2);
}

::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 255, 0.8);
  -webkit-border-radius: 1ex;
  border-radius: 1ex;
}

::-webkit-scrollbar-corner {
  background: rgb(165, 207, 225, 0.2);
}


header {
  z-index: 99;
  width: 100%;
  padding: 0 30px;
}

.App {
  text-align: center;
}

.canvas {
  display: flex;
  margin-left: 29%;
  height: 100%;
}

select {
  margin: 1vmin;
  padding: 0.7vmin;
  width: 80%;
  color: var(--white);
  font-size: 2vmin;
  text-decoration: none;
  border: 0.1vmin solid var(--tan-2);
  border-radius: 0.5vmin;
  outline: none;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 70%);
  opacity: 70%;
  position: relative;
}

section {
  height: 80px;
}

.form-container {
  position: absolute;
  width: 50%;
  padding: 3vmin;
  margin-left: 0.5%;
  background-color: var(--tan-1);
  border: 0.1vmin solid var(--tan-3);
  border-radius: 1.8vmin;
  position: absolute;
}

.sign-up {
  border-radius: 1.8vmin;
  position: relative;
  margin-right: 50%;
  margin-top: 320px;
  width: 51%;
  opacity: 0.82;
}

p.error-message {
  color: var(--orange);
  text-align: center;
}

form {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 3fr;
  gap: 1.25vmin;
  color: var(--text-light);
}

label {
  font-size: 2vmin;
  margin-top: 2px;
  display: flex;
  justify-content: center;
}

input {
  padding: 1vmin;
  font-size: 2vmin;
  border: 0.1vmin solid var(--tan-3);
  border-radius: 0.5vmin;
  color: var(--text-dark);
  background-image: none !important;
  outline: none;
}

.new-model-select {
  height: 43px;
  width: 175px;
  color: black;
  background-color: white;
  -webkit-appearance: none;
  appearance: none;
  background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;

}

.description-label>input {
  box-shadow: 2px 2px 2px #3891b4;
  height: 45px !important;
  width: 220px;
  border: black;
  margin: 10px;
  background-color: rgba(165, 207, 226, 0.4);
}


textarea {
  padding: 1vmin;
  font-size: 2vmin;
  border: 0.1vmin solid var(--tan-3);
  border-radius: 0.5vmin;
  color: var(--text-dark);
  background-image: none !important;
  outline: none;
}

input:focus {
  border-color: rgba(0, 0, 0, 0.7);
}

button,
a.button {
  margin: 1vmin;
  padding: 1vmin;
  color: var(--white);
  font-size: 2vmin;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  border: 0.1vmin solid var(--tan-2);
  border-radius: 0.5vmin;
  outline: none;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 70%);
  opacity: 70%;
  border-radius: 1.8vmin;
  position: relative;
}

button.btn-sm {
  font-size: 1.5vmin;
  padding: 0.6vmin 0.8vmin;
}

button.btn-xs {
  font-size: 1vmin;
  padding: 0.4vmin 0.5vmin;
}

button:disabled,
form:invalid button[type='submit'] {
  cursor: not-allowed;
  background-color: var(--tan-4);
}

button[type='submit'] {
  grid-column: span 2;
  margin: 1vmin 0 0;
}

.header-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 370;
}

.logo {
  font-weight: 900;
  font-size: larger;
  letter-spacing: 2px;
  color: #fff;
}

.offcanvas-body>ul {
  margin-top: 5px;
  padding: 0;
  display: flex;
}

ul>div {
  display: flex;
}

.navbar-nav {
  --bs-nav-link-color: (var(--white));
}

.navbar {
  --bs-navbar-active-color: (var(--white));
  --bs-navbar-hover-color: rgba(255, 255, 255, 0.7);
}

nav>ul>li {
  list-style: none;
}

ul>div>.btn>a {
  color: #fff;
  font-weight: 600;
  background: #23232a;
  padding: 10px 18px;
  border-radius: 10px;
}

ul>div>a {
  text-decoration: none;
  color: #fff;
}

ul>div>a:hover,
ul>div>a:active {
  text-decoration: underline;
}

.add-btn {
  margin-top: 250px;
  color: #fff;
  font-weight: 600;
  background: #23232a;
  padding: 10px 18px;
  border-radius: 10px;
  text-decoration: none;
}

.info-card:hover,
.info-card:active {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 3px rgba(245, 245, 220, 0.4) solid;
  background-color: rgba(245, 245, 220, 0.1);
  border-radius: 20px;
  padding: 20px;
  box-shadow: 2px 2px 2px #3891b4;
  font-family: 'Ubuntu', sans-serif;
}

.info-card {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  height: auto;
  width: auto;
  border-radius: 10px;
  font-family: 'Ubuntu', sans-serif;
  padding: 10px;
  margin-bottom: 10px;
}

.portfolio-btn {
  text-decoration: none;
}

.detail-card {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: 3px rgba(245, 245, 220, 0.7) solid;
  border-radius: 10px;
  padding: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-bottom: 10px;
}

.name-labels {
  text-shadow: #b46138;
  touch-action: cross-slide-x;
  letter-spacing: 3px;
  font-weight: 900;
  padding: 0 20px;
  text-align: center;
}

.left {
  border: 1px solid black;
}

.edit-link {
  font-weight: 900;
  text-decoration: none;
  font-family: 'Ubuntu', sans-serif;
}

.edit-link:hover,
.edit-link:active {
  font-weight: 900;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.new-model {
  display: block;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 150px;
  letter-spacing: 2px;
  font-weight: 300;
  background-color: #a5cfe1;
  box-shadow: 0px 0px 4px 2px rgba(59, 60, 61, 0.5);
  border: 1px #a5cfe1 solid;
}

.detail-model {
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
  font-weight: 300;
}

.new-colors {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.new-colors>div>input {
  height: 42px;
  width: 42px;
  margin-top: 3px;
  border: 0.5px solid rgba(0, 0, 0, 0.8);
  border-radius: 2.5px;
  padding: 0;
}

.new-model-card {
  justify-content: space-between;
  border-radius: 10px;
  padding: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-bottom: 10px;
}

.new-wrapper {
  color: white;
  padding: 120px;
  display: grid;
  grid-template-columns: 2fr 2fr;
  align-items: center;
}

.new-canvas>div {
  height: 80%;
  width: 100%;
}

.new-card {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 13px;
  box-shadow: 20px 40px 33px rgba(0, 0, 0, 0.3);
  padding: 33px;
  margin-bottom: 10px;
  background-color: #a5cfe2;
}

.wrapper {
  color: white;
  min-width: 85%;
  height: 100vh;
}

.detail-wrapper {
  padding: 120px;
  display: grid;
  align-items: center;
}

.offcanvas-bottom {
  align-items: flex-end;
  background-color: rgba(165, 207, 225);
}

.navbar>.container-fluid {
  justify-content: flex-end;
}

.product-canvas-list {
  height: 500px;
  width: 100%;
}

.product-canvas {
  width: 270px;
  height: 270px;
  background: white;
  box-shadow: 10px 15px 15px 6px #3891b4;
  border-radius: 5px;
  margin-bottom: 20px;
}

.colors {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2px;
}

.colors>div>input {
  width: 70px;
  height: 100%;
  border-radius: 12px;
  color: white;
}

.create-model-btn {
  position: absolute;
  left: 1%;
  padding: 10px 18px;
  border: none !important;
  color: black;
  border-radius: 10px;
  font-weight: 400;
  background: white !important;
}
.update-model-btn {
  position: absolute;
  left: 7%;
  top: 84.9%;
  padding: 10px 18px;
  border: none !important;
  color: black;
  border-radius: 10px;
  font-weight: 400;
  background: white !important;
}

.portfolio-object {
  display: flex;
  flex-direction: column;
}

.capitalize {
  text-transform: capitalize;
}

.design-btn {
  margin-bottom: 200px;
}

.desc::first-letter {
  text-transform: capitalize;
}

.offcanvas-backdrop {
  height: 100%;
  width: 100%;
}